@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css');
@import url('https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css');

.head {
  text-align: center;
}

.unsplash {
  text-align: center;
  font-size: 12px;
}
