@import '../main';

.main {
  width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#parent {
  width: 800px;
  height: 400px;
  overflow: auto;
  margin: 0 auto;

  border: 1px solid #606c76;
  box-shadow: 7px 7px 0 0px #606c76;
}

.item {
  margin-bottom: 100px;
}

.item img {
  height: 600px;
}

.code {
  width: 800px;
  margin: 0 auto;
}

.unsplash {
  margin-top: 50px;
}
